<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40111495-b587-459f-afec-35fe93e5900d" Alias="Homepage - blockgrid - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Homepage - blockgrid - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "gridColumns": 12
}]]></Config>
</DataType>