<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5ee8615-3a9a-40af-8400-d30192af0dae" Alias="Mcps Dropdown" Level="1">
  <Info>
    <Name>Mcps Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Option 1",
    "Option 2",
    "Option 3"
  ],
  "multiple": false
}]]></Config>
</DataType>