<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ce00822-38c1-4990-a54d-067f958738e6" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="da02aa09-6da1-47f9-b1f0-7d0dd45b3958">homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="29829a36-e374-4935-8ae5-f2bb45e49e8a" SortOrder="0">articleHub</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>809f32b0-1fcf-4ed4-b70b-143cf8d5a5a4</Key>
      <Name>blockgrid</Name>
      <Alias>blockgrid</Alias>
      <Definition>40111495-b587-459f-afec-35fe93e5900d</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>90e55d0e-a87a-4a12-81ce-e77c21fbaed1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>