<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cee69673-8c7d-4e04-9735-21f6d7d7af78" Alias="mcpsDropdownBlockArticle" Level="2">
  <Info>
    <Name>[mcpsDropdown] - Block - [Article]</Name>
    <Icon>icon-clothes-hanger color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>McpsBlocks</Folder>
    <Compositions>
      <Composition Key="e0b7d0fc-ad1d-444f-9afd-01637cf3e407">mcpsDropdownCompositionArticle</Composition>
      <Composition Key="a04383de-edb3-4f4d-aa4b-cbf912f07f0b">mcpsReferenceId</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>f20dba01-e888-4e8c-b72f-a805ae627b99</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>