<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdae863d-f987-419f-a3ec-51f37a9b46ce" Alias="Brie" Level="3">
  <Info>
    <Parent Key="2fc519f4-60b1-453b-991e-53d5e2545d36">Articles</Parent>
    <Path>/Home/Articles/Brie</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-27T14:38:33</CreateDate>
    <NodeName Default="Brie" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b01b1ef1-f75c-4862-9c83-2d7884facd24">article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EBrie\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </body>
    <headline>
      <Value><![CDATA[Brie]]></Value>
    </headline>
  </Properties>
</Content>