<?xml version="1.0" encoding="utf-8"?>
<Content Key="aca15561-9731-47ee-aa63-264ea174862c" Alias="Chokoladekage" Level="3">
  <Info>
    <Parent Key="2fc519f4-60b1-453b-991e-53d5e2545d36">Articles</Parent>
    <Path>/Home/Articles/Chokoladekage</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-28T13:19:22</CreateDate>
    <NodeName Default="Chokoladekage" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b01b1ef1-f75c-4862-9c83-2d7884facd24">article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EChokoladekage\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </body>
    <headline>
      <Value><![CDATA[Chokoladekage]]></Value>
    </headline>
  </Properties>
</Content>