<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6e823f6-172b-478d-bdcd-5c3f305b66ae" Alias="Kartoffelkage" Level="3">
  <Info>
    <Parent Key="2fc519f4-60b1-453b-991e-53d5e2545d36">Articles</Parent>
    <Path>/Home/Articles/Kartoffelkage</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-28T13:18:55</CreateDate>
    <NodeName Default="Kartoffelkage" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b01b1ef1-f75c-4862-9c83-2d7884facd24">article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EKartoffelkage\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </body>
    <headline>
      <Value><![CDATA[Kartoffelkage]]></Value>
    </headline>
  </Properties>
</Content>