<?xml version="1.0" encoding="utf-8"?>
<Content Key="47f2d984-0d80-4655-8c9b-42a2b62635a5" Alias="Lagkage" Level="3">
  <Info>
    <Parent Key="2fc519f4-60b1-453b-991e-53d5e2545d36">Articles</Parent>
    <Path>/Home/Articles/Lagkage</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-28T13:19:06</CreateDate>
    <NodeName Default="Lagkage" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b01b1ef1-f75c-4862-9c83-2d7884facd24">article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ELagkage\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </body>
    <headline>
      <Value><![CDATA[Lagkage]]></Value>
    </headline>
  </Properties>
</Content>