<?xml version="1.0" encoding="utf-8"?>
<Content Key="89900c88-0e98-4799-92e8-8393265b7688" Alias="Mel" Level="3">
  <Info>
    <Parent Key="2fc519f4-60b1-453b-991e-53d5e2545d36">Articles</Parent>
    <Path>/Home/Articles/Mel</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-27T14:37:52</CreateDate>
    <NodeName Default="Mel" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b01b1ef1-f75c-4862-9c83-2d7884facd24">article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EDet smager godt, men det er lidt melet.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </body>
    <headline>
      <Value><![CDATA[Mel er lækkert!]]></Value>
    </headline>
  </Properties>
</Content>