<?xml version="1.0" encoding="utf-8"?>
<Content Key="0635e835-e526-40e4-b1bc-f42d614eca63" Alias="Soltørret tomat" Level="3">
  <Info>
    <Parent Key="2fc519f4-60b1-453b-991e-53d5e2545d36">Articles</Parent>
    <Path>/Home/Articles/SoltoerretTomat</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-28T13:18:05</CreateDate>
    <NodeName Default="Soltørret tomat" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b01b1ef1-f75c-4862-9c83-2d7884facd24">article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003ESolt\u00F8rret tomat\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </body>
    <headline>
      <Value><![CDATA[Soltørret tomat]]></Value>
    </headline>
  </Properties>
</Content>