<?xml version="1.0" encoding="utf-8"?>
<Content Key="daf64975-681c-43f2-adff-d92bb3c83bda" Alias="Something" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Something</Path>
    <Trashed Parent="2fc519f4-60b1-453b-991e-53d5e2545d36">true</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2025-05-27T14:36:42</CreateDate>
    <NodeName Default="Something" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b01b1ef1-f75c-4862-9c83-2d7884facd24">article</Template>
  </Info>
  <Properties>
    <body>
      <Value><![CDATA[]]></Value>
    </body>
    <headline>
      <Value><![CDATA[]]></Value>
    </headline>
  </Properties>
</Content>